czech.pickle
danish.pickle
dutch.pickle
estonian.pickle
finnish.pickle
french.pickle
german.pickle
greek.pickle
italian.pickle
norwegian.pickle
polish.pickle
portuguese.pickle
russian.pickle
slovene.pickle
spanish.pickle
swedish.pickle
turkish.pickle
